.cart-summary{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.checkout_button{
    background-color: #2b83ff;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    border-radius: 100px;
    padding: 12px 28px;
    border: none;
}

.summary-details{
    width: 100%;
}

.bottom-cart-summary{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.summary-row{
    display: flex;
    justify-content: space-between;
}

.bottom-sumary-teks{
    text-align: start;
}