.contain-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .contain-card {
    grid-template-columns: repeat(2, 1fr); /* 2 kolom di mobile */
  }
}
