.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* slate-800 */
  height: 80px;
  padding: 0px;  
  color: white;
  color: rgb(0, 0, 0);
  padding: 0px 20px;
}

.nav h3 {
font-weight: 500;
}

.nav .button {
  margin-left: 1rem;
  background-color: #3b82f6; /* blue-500 */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.2s ease;
  font-weight: 500;
  font-size: 14px;
}

.nav .button:hover {
  background-color: #2563eb; /* blue-600 */
}

.welcome-text {
  margin-right: 1rem;
  font-size: 0.95rem;
  color: #cbd5e1; /* slate-300 */
}
